<div class="row">
  <div class="col-12">
    <%@orders.each do |row| %>
      <div class="card" style="margin: 10px;">
        <div class="card-body">
          <h5 class="card-title"><%= link_to row["title"], book_path(row["book_id"]),class: "badge badge-primary"%></h5>
          <%row.each do |key,val| %>
            <div class="row">
              <div class="col-6">
                <label style="font-weight:bold;"><%= key %></label>
              </div>

              <div class="col-6">
                <%=val %>
              </div>
            </div>
          <%end %>
          <%= link_to "Confirm", "/orders/#{row["id"]}",method: :post, class: "btn btn-xs btn-success" %>
        </div>
      </div>
    <% end %>
  </div>
</div>