@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.book-icon{
  margin: 10px;
  font-size: 1.5em;
  color: bisque;
}
.bg-light{
  background-color: bisque !important;
  border-color: #E7E7E7;
}

.navbar-dark .navbar-nav .nav-link{
  color: bisque;
}

.small-img{
  max-height: 200px;
}

.full-width{
  width: 100%;
  margin-bottom: 10px;
}
.letter{
  font-weight: bold;
  color: bisque;
  font-family: "Bitstream Vera Sans Mono"
}
.center-image{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.center{
  text-align: center;
}

.listing{
  list-style: none;
  padding-left: 0px;
}

.book-actions{
  border-top: 1px solid #EAEAEA;
  padding-top: 5px;
}

#logo{
  float: left;
  font-size: 1.7em;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover{
  color: #FFF;
  text-decoration: none;
}

.center{
  text-align: center;
}


.jumbotron{
  background-image: asset_url('jumpo.jpg');
  background-size: cover;
  height: 550px;
}

.cart{
  background-image: asset_url('jumpo_cart.jpg');
}

.proceed{
  margin-top: 5px;
}

.searching{
  background-image: asset_url('searchbook.jpg');
}

.jumbotron h1{
  color: #CCCCCC;
  text-outline: #FFFFFF;
  text-align: center;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge{
  font-size: 1.7em;
  background-color: #FFF;
  outline-color: #000;
  border-color: #000;
  color: #000;
}

.btn-xlarge:hover{
  font-size: 1.7em;
  background-color: #000;
  outline-color: #FFF;
  border-color: #FFF;
}

.article-meta-details{
  border-top: 1px solid #EAEAEA;
  margin-top: 15px;
}

.listing{
  list-style: none;
  padding-left: 0px;
}

.article-actions{
  border-top: 1px solid #EAEAEA;
  padding-top: 5px;
}

.description{
  margin-top: 0;
}

.article-title{
  font-weight: bold;
  font-size: 1.5em;
}

.article-body{
  border-top: 1px solid #EAEAEA;
  padding-top: 15px;
  padding-bottom: 15px;
}

footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #EAEAEA;
  color: #777;
}

footer a:hover{
  color: #222;
}

footer small{
  float:left;
}

footer ul{
  float: right;
  list-style: none;
}

footer ul li{
  float: left;
  margin-left: 15px;
}