<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.google.com">Google Inc.</a>
      by <a href="https://www.facebook.com/Fo2sh.25">Omar Fouad</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", books_path %></li>
      </ul>
    </nav>
  </footer>
</div>